section.login-conteneur{

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 900px;
  margin: 0 auto;
}
form{
  width: 520px;
  padding: 20px;
}

.formulaire-inscription{

  fieldset{
    border:0;

    legend{
      display: none;
    }
  }

  ol{
    list-style: none;
    padding: 0;

    li{
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }
    input[type="submit"]{
      border: 1px solid $gray-700;
      background-color: $gray-100;
    }
  }

}


@media screen and (min-width: $vw-medium){

  .formulaire-inscription{
    width: 400px;
    margin: 0 auto;
    ol{
      li{
        flex-direction: row;
        label{
          min-width: 250px;
        }
      }
    }
  }

}